/*  your css code here. If applicable */
p{
	color:rgb(0, 0, 0);
}
p::before {
	content: "Before Element ";
	 const color= before.getPropertyValue("color");
	color: rgb(255, 0, 0);
	font-size: 20px;
}
p::after {
	content: " After Element ";
	color: red;
	font-size: 20px;
}