/*  your css code here. If applicable */

/* .label::before{
color:rgb(255,0,0);
}
.container label::after{
color:rgb(255,0,0);
} */

p::before {
	content: "Before Element ";
	color: red;
}
p::after {
	content: " After Element ";
	color: red;
}